@import "../../../../styles.scss";
.container  {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: $background;
}

h2 {
    color: $foreground2;
    text-decoration: underline;
}
